*{
    margin: 0;
    box-sizing: border-box;   
}

 body{
height: 100dvh;

 }
.form{
 border:  rgb(32, 6, 235) solid;
 display: flex;
 justify-content: center;
height: 50dvh; 


}
form{
 width: 50%;
 display: flex;
flex-direction: column;
background-color: #f2f2f2;
box-shadow: 0 6px 10px rgba(0, 0, 0, 0.35); 
}

textarea{
height: 80px;
}

#submit{
width: 100px;
align-self: center;
height: 40px;
background-color: black;
color: white;
border-radius: 8px;
margin: 70px;
box-shadow: 0 6px 10px rgba(0, 0, 0, 0.35);

}
#submit:hover{
background-color: white;
color: black;

}

input{
padding: 5px;
}

h2{
height: 40px;
padding-top: 20px;
padding-bottom: 30px;
text-align: center;
}

#whatsapp{
background: url()
}

